.swiper-button-prev:after,
.swiper-button-next:after {
  color: #38369A;

  font-family: Modak;
  font-size: 76px;
}

.swiper-button-prev:after {
  content: "<";
}

.swiper-button-next:after {
  content: ">";
}

.swiper-button-next, .swiper-button-prev{
    top: 5%;
    width: 43px;
    height: 97px;
}

.swiper{
    padding-top: 100px;
}

.swiper {
  display: flex;
  justify-content: center;  
  align-items: center;      
}

.swiper-slide {
  display: flex;
  justify-content: center;  
  align-items: center;     
}